@model Contracts.DailyRateContracts.DailyRateRemoved
@using _0_Framework.Application;
@{
    ViewData["title"] = "لیست تبدیل اسعار روزانه حذف شده";
}
<div class="modal-header">
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa-solid fa-close fa-lg"></i></a>
    <h4 class="modal-title">لیست تبدیل اسعار روزانه حذف شده</h4>
</div>

<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
            <thead class="table-Primary">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">تاریخ</th>
                    <th class="text-center">مقدار</th>
                    <th class="text-center">اسعار</th>
                    <th class="text-center">خرید</th>
                    <th class="text-center">فروش</th>
                    <th class="text-center">اسعار</th>
                    @if (Model.idAgencies == 0)
                    {
                        <th class="text-center">نماینده گی</th>
                    }
                    <th class="text-center">عملیات</th>
                </tr>
            </thead>
            <tbody id="tbodyv">
                @foreach (var item in Model.DailyRateRemoveds)
                {
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center">@item.DateDay</td>
                        <td class="text-center">@item.Amount</td>
                        <td class="text-center">@item.MainMoneyName</td>
                        <td class="text-center">@item.PriceSell</td>
                        <td class="text-center">@item.PriceBey</td>
                        <td class="text-center">@item.SecondaryMoneyName</td>
                        @if (Model.idAgencies == 0)
                        {
                            if (item.AgenciesId == 0)
                            {
                                <td class="text-center">مرکزی</td>
                            }
                            else
                            {
                                <td class="text-center">@item.NameAgencies</td>
                            }
                        }
                        <td class="text-center">
                            <a class="btn btn-sm btn-icon btn-outline-primary" title="بازیابی" onclick="Reset(@item.Id)"><i class="fa-solid fa-check-to-slot fa-lg"></i></a>
                            <a class="btn btn-sm btn-icon btn-outline-danger" title="حذف کامل" onclick="Delete(@item.Id)"><i class="fa-solid fa-eraser fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>