@page
@model ServiceHost.Areas.Admin.Pages.ManagementPersons.PersonsMoneyExchange.IndexModel
{

}
@section Scripts
{
    <script src="~/Theme/assets/formatter/formatter.js"></script>
    <script src="~/Theme/assets/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/formatter.js"></script>
    <script src="~/Theme/assets/datatable/datatables.js"></script>
    <script src="~/Theme/material-rtl/js/data-table.js"></script>
    <script>
        function addRowCount(tableAttr) {
            $(tableAttr).each(function () {
                $('th:first-child, thead td:first-child', this).each(function () {
                    var tag = $(this).prop('tagName');
                    $(this).before('<' + tag + ' class="text-center" >#</' + tag + '>');
                });
                $('td:first-child', this).each(function (i) {
                    $(this).before('<td class="text-center">' + (i + 1) + '</td>');
                });
            });
        }
        addRowCount('.js-serial');
    </script>
    <script>
        function InActive(id) {
            Swal.fire({
                title: 'آیا میخواهید رسید و برد افراد غیر فعال شود ؟',
                text: "پس میتوانید فعال کنید !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'خیر',
                confirmButtonText: 'بلی'
            }).then((result) => {
                if (result.isConfirmed) {
                    var postData = {
                        'id': id,
                    };
                    $.ajax({
                        ccontentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "GET",
                        url: "@Url.Page("./Index", "InActive")",
                        data: postData,
                        success: function (date) {
                            if (date.isSuccedded == true) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2500);
                            } else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                            }
                        },
                    });
                }
            })
        }

        function Active(id) {
            Swal.fire({
                title: 'آیا میخواهید رسید و برد افراد فعال شود ؟',
                text: "پس میتوانید غیر فعال کنید !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'خیر',
                confirmButtonText: 'بلی'
            }).then((result) => {
                if (result.isConfirmed) {
                    var postData = {
                        'id': id,
                    };
                    $.ajax({
                        ccontentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "GET",
                        url: "@Url.Page("./Index", "Active")",
                        data: postData,
                        success: function (date) {
                            if (date.isSuccedded == true) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2500);
                            } else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                            }
                        },
                    });
                }
            })
        }

        function Remove(id) {
            Swal.fire({
                title: 'آیا میخواهید رسید و برد افراد حذف شود ؟',
                text: "پس میتوانید بازیابی کنید !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'خیر',
                confirmButtonText: 'بلی'
            }).then((result) => {
                if (result.isConfirmed) {
                    var postData = {
                        'id': id,
                    };
                    $.ajax({
                        ccontentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "GET",
                        url: "@Url.Page("./Index", "Remove")",
                        data: postData,
                        success: function (date) {
                            if (date.isSuccedded == true) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2500);
                            } else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                            }
                        },
                    });
                }
            })
        }

        function Reset(id) {
            Swal.fire({
                title: 'آیا میخواهید رسید و برد افراد بازیابی شود ؟',
                text: "پس میتوانید حذف کنید !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'خیر',
                confirmButtonText: 'بلی'
            }).then((result) => {
                if (result.isConfirmed) {
                    var postData = {
                        'id': id,
                    };
                    $.ajax({
                        ccontentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "GET",
                        url: "@Url.Page("./Index", "Reset")",
                        data: postData,
                        success: function (date) {
                            if (date.isSuccedded == true) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2500);
                            } else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                            }
                        },
                    });
                }
            })
        }

        function Delete(id) {
            Swal.fire({
                title: 'آیا میخواهید رسید و برد افراد کامل حذف شود ؟',
                text: "پس نمیتوانید بازیابی کنید !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'خیر',
                confirmButtonText: 'بلی'
            }).then((result) => {
                if (result.isConfirmed) {
                    var postData = {
                        'id': id,
                    };
                    $.ajax({
                        ccontentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "GET",
                        url: "@Url.Page("./Index", "Delete")",
                        data: postData,
                        success: function (date) {
                            if (date.isSuccedded == true) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2500);
                            } else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: date.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                            }
                        },
                    });
                }
            })
        }
    </script>
}