@model Contracts.SafeBoxContracts.SafeBoxRemoved
@{
    ViewData["title"] = "لیست صندق ها حذف شده";
}
<div class="modal-header">
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa-solid fa-close fa-lg"></i></a>
    <h4 class="modal-title">لیست صندق ها حذف شده</h4>
</div>

<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover display nowrap margin-top-10 w-p100 js-serial">
            <thead class="table-Primary">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">نام</th>
                    <th class="text-center">مسئول</th>
                    <th class="text-center">شماره تماس</th>
                    <th class="text-center">عملیات</th>
                </tr>
            </thead>
            <tbody id="tbodyv">
                @foreach (var item in Model.SafeBoxRemoveds)
                {
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.Treasurer</td>
                        <td class="text-center" dir="ltr">@item.Mobile</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-icon btn-outline-primary" title="بازیابی" onclick="Reset(@item.Id)"><i class="fa-solid fa-check-to-slot fa-lg"></i></a>
                            <a class="btn btn-sm btn-icon btn-outline-danger" title="حذف کامل" onclick="Delete(@item.Id)"><i class="fa-solid fa-eraser fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>