@page
@model ServiceHost.Areas.Admin.Pages.SettingsModel
@using Configuration.Permissions.General;
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "تنظیمات";
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between bb-1 border-info">
                    <div class="header-title">
                        <span class="card-title mx-2">تنظیمات</span>
                        <a class="btn btn-sm btn-icon btn-outline-info mx-2" title="برگشت" asp-page="./Index"><i class="fa-solid fa-left-long fa-lg"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">کمپنی</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">نماینده گی</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                                <form class="needs-validation" novalidate asp-page="./Settings" asp-page-handler="CompanyEdit" method="post"
                                      data-ajax="true"
                                      data-callback=""
                                      data-action="Refresh"
                                      enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="Name">نام کمپنی</label>
                                                    <input id="Name" type="text" required class="form-control" asp-for="@Model.commandCompany.Name">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="Address">آدرس کمپنی</label>
                                                    <input id="Address" type="text" required class="form-control" asp-for="@Model.commandCompany.Address">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="Responsible">مسئول کمپنی</label>
                                                    <input id="Responsible" type="text" required class="form-control" asp-for="@Model.commandCompany.Responsible">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone">موبایل کمپنی</label>
                                                    <input id="phone" type="text" dir="ltr" required class="form-control" asp-for="@Model.commandCompany.Mobile">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="Logo">لوگو کمپنی</label>
                                                    <input type="file" id="Logo" class="form-control" name="Logo" accept="image/*">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa-solid fa-save fa-lg"></i></button>
                                        </div>
                                    </div>
                                    <input type="hidden" id="CompanyId" asp-for="@Model.commandCompany.Id" />
                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                                <form class="needs-validation" novalidate asp-page="./Settings" asp-page-handler="AgenciesEdit" method="post"
                                      data-ajax="true"
                                      data-callback=""
                                      data-action="Refresh">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="Name">نام نماینده گی</label>
                                                    <input id="Name" type="text" required class="form-control" asp-for="@Model.commandAgencies.Name">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="Address">آدرس نماینده گی</label>
                                                    <input id="Address" type="text" required class="form-control" asp-for="@Model.commandAgencies.Address">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="Responsible">مسئول نماینده گی</label>
                                                    <input id="Responsible" type="text" required class="form-control" asp-for="@Model.commandAgencies.Responsible">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone">موبایل نماینده گی</label>
                                                    <input id="phone" type="text" dir="ltr" required class="form-control" asp-for="@Model.commandAgencies.Mobile">
                                                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa-solid fa-save fa-lg"></i></button>
                                        </div>
                                    </div>
                                    <input type="hidden" id="AgenciesId" asp-for="@Model.commandAgencies.Id" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts 
{
    <script src="~/Theme/assets/formatter/formatter.js"></script>
    <script src="~/Theme/assets/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/formatter.js"></script>
}