@model Contracts.ManagementPresonsContracts.LivelihoodContracts.LivelihoodRemoved
@using _0_Framework.Application;
@{
    ViewData["title"] = "لیست معاش کارمند حذف شده";
}
<div class="modal-header">
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="/Admin/ManagementPersons/Livelihood/Index" asp-route-personsId="@Model.PersonsId"><i class="fa-solid fa-close fa-lg"></i></a>
    <h4 class="modal-title">لیست معاش کارمند حذف شده</h4>
</div>

<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
            <thead class="table-Primary">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">تاریخ</th>
                    <th class="text-center">مقدار معاش</th>
                    <th class="text-center">حالت</th>
                    <th class="text-center">عملیات</th>
                </tr>
            </thead>
            <tbody id="tbodyv">
                @foreach (var item in Model.LivelihoodRemoveds)
                {
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center">@item.SDate - @item.EDate</td>
                        <td class="text-center">@item.Amount.ToMoney() <sub>(@item.MoneyName)</sub></td>
                        @if (item.Cancel == true)
                        {
                            <td class="text-center">غیرفعال</td>
                        }
                        else
                        {
                            <td class="text-center">فعال</td>
                        }
                        <td class="text-center">
                            <a class="btn btn-sm btn-icon btn-outline-primary" title="بازیابی" onclick="Reset(@item.Id)"><i class="fa-solid fa-check-to-slot fa-lg"></i></a>
                            <a class="btn btn-sm btn-icon btn-outline-danger" title="حذف کامل" onclick="Delete(@item.Id)"><i class="fa-solid fa-eraser fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>